[main]
    NagiosSpoolfileFolder = "/var/spool/nagios"
    NagiosSpoolfileWorker = 1
    InfluxWorker = 2
    MaxInfluxWorker = 5
    DumpFile = "nagflux.dump"
    NagfluxSpoolfileFolder = "/var/spool/nagflux"
    FieldSeparator = "&"
    BufferSize = 10000
    FileBufferSize = 65536
    # If the performancedata does not have a certain target set with NAGFLUX:TARGET.
    # The following field will define the target for this data.
    # "all" sends the data to all Targets(every Influxdb, Elasticsearch...)
    # a certain name will direct the data to this certain target
    DefaultTarget = "all"

[Log]
    # leave empty for stdout
    LogFile = ""
    # List of Severities https://godoc.org/github.com/kdar/factorlog#Severity
    MinSeverity = "INFO"

[Monitoring]
    # leave empty to disable
    # PrometheusAddress = ":8080"
    PrometheusAddress = ":8080"

[Livestatus]
    # tcp or file
    Type = "tcp"
    # tcp: 127.0.0.1:6557 or file /var/run/live
    Address = "127.0.0.1:6557"
    # The amount to minutes to wait for livestatus to come up, if set to 0 the detection is disabled
    MinutesToWait = 2
    # Set the Version of Livestatus. Allowed are Nagios, Icinga2, Naemon.
    # If left empty Nagflux will try to detect it on it's own, which will not always work.
    Version = ""

[ModGearman "example"] #copy this block and rename it to add a second ModGearman queue
    Enabled = false
    Address = "127.0.0.1:4730"
    Queue = "perfdata"
    # Leave Secret and SecretFile empty to disable encryption
    # If both are filled the the Secret will be used
    # Secret to encrypt the gearman jobs
    Secret = ""
    # Path to a file which holds the secret to encrypt the gearman jobs
    SecretFile = "/etc/mod-gearman/secret.key"
    Worker = 1

[InfluxDBGlobal]
    CreateDatabaseIfNotExists = true
    NastyString = ""
    NastyStringToReplace = ""
    HostcheckAlias = "hostcheck"
    ClientTimeout  = 5

[InfluxDB "nagflux"]
    Enabled = true
    Version = 1.0
    Address = "http://127.0.0.1:8086"
    Arguments = "precision=ms&u=root&p=root&db=nagflux"
    StopPullingDataIfDown = true

[InfluxDB "fast"]
    Enabled = false
    Version = 1.0
    Address = "http://127.0.0.1:8086"
    Arguments = "precision=ms&u=root&p=root&db=fast"
    StopPullingDataIfDown = false

[ElasticsearchGlobal]
    HostcheckAlias = "hostcheck"
    NumberOfShards = 1
    NumberOfReplicas = 1
    # Sorts the indices "monthly" or "yearly"
    IndexRotation = "monthly"

[Elasticsearch "example"]
    Enabled = false
    Address = "http://localhost:9200"
    Index = "nagflux"
    Version = 2.1

[JSONFileExport "one"]
    Enabled = false
    Path = "export/json"
    # Timeinterval  in Seconds till a new file will be used. 0 for no rotation.
    # If no rotation is selected, the JSON Objects are appended line by line so,
    #   every single line is valid JSON but the whole file not.
    # If rotation is selected every file as whole is valid JSON.
    AutomaticFileRotation = "10"
