[main]
NagiosSpoolfileFolder = "/var/spool/nagios"
NagiosSpoolfileWorker = 1
InfluxWorker = 2
MaxInfluxWorker = 5
DumpFile = "nagflux.dump"
NagfluxSpoolfileFolder = "/var/spool/nagflux"

[Log]
#leave empty for stdout
LogFile = ""
#List of Severities https://godoc.org/github.com/kdar/factorlog#Severity
MinSeverity = "DEBUG"

[Monitoring]
#leave empty to disable
#WebserverPort = ":7000"
WebserverPort = ""

[Influx]
Version = 0.9
Address = "http://127.0.0.1:8086"
Arguments = "precision=ms&u=icinga&p=icinga&db=icinga"
CreateDatabaseIfNotExists = true

[Grafana]
FieldSeperator = "&"

[Livestatus]
#tcp or file
Type = "tcp"
#tcp: 127.0.0.1:6557 or file /var/run/live
Address = "127.0.0.1:6557"